<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <fieldset>
      <form action="/pig-latin" method="post">
        <label for="string"></label>
        <input type="text" name="string" id="string">
        <input type="submit">
      </form>
    </fieldset>
  </body>
</html>